  {% extends "index.html" %}
  {% block projectsactive %}active {% endblock projectsactive %}
  {% block title %}projects {% endblock title %}
  {% block body %}

      <div class="container my-3">
        <h2 class="text-center">My Projects</h2>
      
      <div class="row">
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?code,technology..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traveller</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">click Demo</a>
          </div>
        </div>  
        </div>
  
        <div class="col md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?tech,html..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gamer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">>click Demo</a>
          </div>
        </div>  
        </div>
  
        <div class="col md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?developer,water..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Designer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">click Demo</a>
          </div>
        </div>
        </div>
      </div>  
      </div>
  {% endblock body %}  

      
